.paddingRight{
    padding-right: 10px;
    display: flex;
}
.fehlerMeldung{
    color: red; font-size: 15px;
}
.stepTwoForm{
    border: 1px solid gray;
    padding: 20px;
    box-shadow: 5px 5px 15px gray;
    border-radius: 25px;
    width: fit-content;
    margin: 0 auto;
}
.textCenter{
    text-align: center;
}
.redStar{
    color: red;
}
.buttonMarginRight{
    margin-right: 10px;
}
.buttonDiv{
    display: flex;
    justify-content: center;
}